doctype html
html
  head
    title Create Todo
  body
    h1 Create New To do
    form(action="/todos", method="POST")
      label(for="task") Task:
      input(type="text", id="task", name="task", required)
      br
      label(for="status") Status:
      select(id="status", name="status", required)
        option(value="completed") Completed
        option(value="pending") Pending
      br
      button(type="submit") Create Todo
