
doctype html
html
  head
    title Home
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 To-Do App
    nav
      ul
        li
          a(href='/todos') View To dos
        li
          a(href='/todos/new') Create To dos

